<div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">

        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright &copy; 2024 &nbsp;
                    <a href="https://www.zncc.or.tz/" class="link-secondary">ZNCC- Zanzibar National Chamber Of Commerce</a>.
                    <!-- All rights reserved. -->
                </li>
                <!-- <li class="list-inline-item">
                    <a href="https://www.zncc.or.tz/" class="link-secondary" rel="noopener"> https://www.zncc.or.tz
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>