<!-- <div class="page-header d-print-none">
  <div class="" style="margin: 0 20px 0 20px;">
    <div class="row g-2 align-items-center">
      <div class="col">
 
        <div class="page-pretitle">

        </div>
        <h2 class="page-title">
          Payment
        </h2>
      </div>
   
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
      
        </div>
      </div>
    </div>
  </div>
</div>



<div class="page-body ">


  <div class="row">



    <div class="col-12 mt-4">
    </div>
    <div class="col-12">
      <div class="card p-3">
        <div class="card-body border p-0">
          <p>
        
        </div>
        <div class="card-body border p-0">

          <div class="  p-2 w-100 h-100 d-flex align-items-center justify-content-between"
            aria-controls="collapseExample">
            <span class="fw-bold">Payment Instractions</span>
            <span class="">
              <span class="fab fa-cc-amex"></span>
              <span class="fab fa-cc-mastercard"></span>
              <span class="fab fa-cc-discover"></span>
            </span>
          </div>

          <div class="collapse show p-3 pt-0" id="collapseExample">
            <div class="row">
              <div class="col-lg-5 mb-lg-0 mb-3">
                <p class="h4 mb-0">Summary</p>
                <p class="mb-0"><span class="fw-bold">Company:</span><span class="c-green">: Name of
                    Company</span>
                </p>
                <p class="mb-0">
                  <span class="fw-bold">Registration Fee:</span>
                  <span class="c-green">:TZS 20,000</span>
                </p>
                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                  nihil neque
                  quisquam aut
                  repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                  quis,
                  iste harum ipsum hic, nemo qui!</p>
              </div>
              <div class="col-lg-7">
                <form action="" class="form">
                  <div class="row">
                    <div class="col-12">
                      <div class="form__div">
                        <label for="" class="form__label">Card Number</label>
                        <input type="number" class="form-control" placeholder=" ">

                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form__div">
                        <label for="" class="form__label">Date Of Payment</label>
                        <input type="date" class="form-control" placeholder=" ">

                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form__div">
                        <label for="" class="form__label">cvv code</label>
                        <input type="password" class="form-control" placeholder=" ">

                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form__div">
                        <label for="" class="form__label">Cash Amount</label>
                        <input type="text" class="form-control" placeholder=" ">

                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="btn btn-primary w-100">Sumbit</div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<div class="page-header d-print-none">
  <div class="" style="margin: 0 20px 0 20px;">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">

        </div>
        <h2 class="page-title" *ngIf="role == 'SUPER ADMIN'">
          Invoices Lists
        </h2>

        <h2 class="page-title" *ngIf="role == 'MEMBERSHIP'">
          Invoices
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <button class="btn btn-primary d-none d-sm-inline-block" (click)="onBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="page-body ">

  <div class="card" *ngIf="role == 'SUPER ADMIN'">
    <div class="card-status-top bg-primary"></div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div style="margin:10px 0px 0px 10px;" class="example-form ml-3  mb-3">
      <label class="form-label"></label>
      <div class="input-icon" style="width: 50%;">
        <input type="text" #input (keyup)="applyFilter($event)" class="form-control form-control-rounded"
          placeholder="Search…" />
        <span class="input-icon-addon">
          <!-- SVG icon from http://tabler-icons.io/i/search -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z" />
          </svg>
        </span>
      </div>
    </div>
    <div style="margin: 10px;">


      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo. </th>
          <td mat-cell *matCellDef="let row;let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceNumber}}
          </td>
        </ng-container>
        <ng-container matColumnDef="nvoiceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
          <td mat-cell *matCellDef="let row"> {{row.nvoiceDate | date:'dd-MM-YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="invoiceAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceAmount | number}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentStatus">


          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.paymentStatus == 1">
              <span class="badge badge-success">PAID</span>
            </span>
            <span *ngIf="row.paymentStatus == 0">
              <span class="badge badge-danger"> NOT PAID </span>
            </span>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="card" *ngIf="role == 'MEMBERSHIP'">
    <div class="card-status-top bg-primary"></div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div style="margin:10px 0px 0px 10px;" class="example-form ml-3  mb-3">
      <label class="form-label"></label>
      <div class="input-icon" style="width: 50%;">
        <input type="text" #input (keyup)="applyFilter($event)" class="form-control form-control-rounded"
          placeholder="Search…" />
        <span class="input-icon-addon">
          <!-- SVG icon from http://tabler-icons.io/i/search -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z" />
          </svg>
        </span>
      </div>
    </div>
    <div style="margin: 10px;">


      <table mat-table [dataSource]="dataSource2" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo. </th>
          <td mat-cell *matCellDef="let row;let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceNumber}}
          </td>
        </ng-container>
        <ng-container matColumnDef="nvoiceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
          <td mat-cell *matCellDef="let row"> {{row.nvoiceDate | date:'dd-MM-YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="invoiceAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceAmount | number}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.paymentStatus == 1">
              <span class="badge badge-success">PAID</span>
            </span>
            <span *ngIf="row.paymentStatus == 0">
              <span class="badge badge-danger"> NOT PAID </span>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="View">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
          <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)=" openPdf2(row)">
                  <mat-icon _ngcontent-ygf-c404="" role="img" color="primary" class="mat-icon notranslate mat-primary material-icons" 
                  aria-hidden="true" ng-reflect-color="primary" data-mat-icon-type="font">attachment</mat-icon>
              </button>
            
          </td>
      </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button class="btn btn-primary d-none d-sm-inline-block" (click)="openDialog(row)">

              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Receipt
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

</div>


<ng-template #distributionDialog>
  <app-card title="Add Receipt">
    <hr>
    <form [formGroup]="invoiceForm">
      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Receipt</label>
          <div class="row">

            <div *ngIf="currentFile && progress" class="progress my-3">
              <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
              </div>
            </div>
            <div>

              <label class="btn btn-default" style="width: 100%;">
                <input type="file" accept="image/*" (change)="selectFile($event)" style="width: 100%;" #imageInput
                  (change)="processFile(imageInput)" id="profile" />
              </label>
            </div>
          </div>

        </div>
      </div>
    </form>
    <br><br><br><br>

    <div class="card-bottom">
      <button mat-raised-button matDialogClose="yes">Cancel</button> &nbsp;
      <button mat-raised-button color="primary" matDialogClose="yes" (click)="onSubmit()">Add</button>
    </div>

  </app-card>
</ng-template>