<div class="page-header d-print-none">
    <div class="" style="margin: 0 20px 0 20px;">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">

                </div>
                <h2 class="page-title">
                    Business Sector
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a class="btn btn-primary d-none d-sm-inline-block" (click)="dialgOpen()" data-bs-toggle="modal"
                        data-bs-target="#modal-report">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        Add Business Sector
                    </a>
                    <a routerLink="../register-staff" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                        data-bs-target="#modal-report" aria-label="Create new report">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="page-body ">

    <div class="card">
        <div class="card-status-top bg-primary"></div>
        <mat-progress-bar mode="indeterminate" *ngIf="loding"></mat-progress-bar>

        <div style="margin:10px 0px 0px 10px;" class="example-form ml-3  mb-3">            
        

            <label class="form-label"></label>
            <div class="input-icon">
                <input type="text" #input (keyup)="applyFilter($event)" class="form-control form-control-rounded"
                    placeholder="Search…" />
                <span class="input-icon-addon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z" />
                    </svg>
                </span>
            </div>
        </div>
        <div style="margin: 10px;">


            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row;let i = index"> {{i + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="sectorCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sector Code</th>
                    <td mat-cell *matCellDef="let row"> {{row.sectorCode}} </td>
                </ng-container>
                <ng-container matColumnDef="sectorName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sector Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.sectorName}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let row">
                      <span *ngIf="row.currentStatus == 1">
                        <span class="badge bg-success">Active</span>
                      </span>
                      <span *ngIf="row.currentStatus == 0">
                        <span class="badge bg-orange"> In Active</span>
                      </span>
                    </td>
                  </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="row">
                            <button title="Modify" class="col-md-1 btn btn-outline-primary" (click)="dialgOpen2(row)">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M21.04 12.13c.14 0 .27.06.38.17l1.28 1.28c.22.21.22.56 0 .77l-1 1l-2.05-2.05l1-1c.11-.11.25-.17.39-.17m-1.97 1.75l2.05 2.05L15.06 22H13v-2.06l6.07-6.06M10 2h4a2 2 0 0 1 2 2v2h4a2 2 0 0 1 2 2l-2 2V8H4v11h7v2H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4V4a2 2 0 0 1 2-2m4 4V4h-4v2h4Z" />
                                    </svg>
                                </span>
                            </button>
                            &nbsp;
                            <button title="Modify" style="margin-left: 5px;" class="col-md-1 btn btn-outline-success">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M18 1.5c2.9 0 5.25 2.35 
                                    5.25 5.25v3.75a.75.75 0 0 1-1.5 0V6.75a3.75 3.75 0 1 0-7.5
                                     0v3a3 3 0 0 1 3 3v6.75a3 3 0 0 1-3 3H3.75a3 3 0 0 1-3-3v-6.75a3 3 0 0 1 3-3h9v-3c0-2.9 2.35-5.25 5.25-5.25" />
                                    </svg>
                                </span>
                            </button>
                            &nbsp;
    
                            <button title="Modify" style="margin-left: 5px;" class="col-md-1 btn btn-outline-danger">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1q2.075 0 3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15q0-.825-.587-1.412T12 13q-.825 0-1.412.588T10 15q0 .825.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3q-1.25 0-2.125.875T9 6z" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>

</div>

<ng-template #callDialog2>
    <app-card title="Edit Business Sector">
      <form [formGroup]="businesSectorEditForm">
        <div class="row">
            <div class="col-md-6">
                <mat-dialog-content>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Sector Code</mat-label>
                        <input matInput formControlName="sectorCode" placeholder="sector code">
                    </mat-form-field>
                </mat-dialog-content>
            </div>

            <div class="col-md-6">
                <mat-dialog-content>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Sector Name</mat-label>
                        <input matInput formControlName="sectorName" placeholder="sector name">
                    </mat-form-field>
                </mat-dialog-content>
            </div>
        </div>
      </form><br>
      <div class="card-bottom">
        <button mat-raised-button matDialogClose="yes" >Cancel</button> &nbsp;
        <button mat-raised-button  color="primary"  matDialogClose="yes" (click)="onEdit()">Edit</button>
    </div>

    </app-card>
    </ng-template>




    <ng-template #callDialog>
        <app-card title="Add Business Sector">
          <form [formGroup]="businesSectorForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Sector Code</mat-label>
                            <input matInput formControlName="sectorCode" placeholder="sector code">
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
    
                <div class="col-md-6">
                    <mat-dialog-content>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Sector Name</mat-label>
                            <input matInput formControlName="sectorName" placeholder="sector name">
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
            </div>
          </form><br>
          <div class="card-bottom">
            <button mat-raised-button matDialogClose="yes" >Cancel</button> &nbsp;
            <button mat-raised-button  color="primary"  matDialogClose="yes" (click)="submit()">Add</button>
        </div>
    
        </app-card>
        </ng-template>






